@page "/"

<h1>Dobro došli!</h1>
<div>
<span>Radi sigurnosti podataka molim registrirajte se.</span>
</div>
<div>
<span>Ukoliko ste već registrirani ulogirajte se i rad s inventarom postat će dostupan.</span>
</div>
<div>
<br />
</div>
<div>
<span>Ugodan rad vam želim!</span>
</div>
